.booking_section {

	#availability_result {
		display: block;
		position: relative;
		width: 100%;
		height: calc(1.6em + 0.75rem + 2px);
		padding: 0.375rem 0.75rem;
		font-size: 0.9rem;
		font-weight: 400;
		line-height: 1.6;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		color: white;
		text-align: center;
	}

	.loading_block {
		position: absolute;
		color: #1d2124;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.available {
		background-color: #38c172;
	}

	.not_available {
		background-color: #e3342f;
	}

	.error {
		color: #495057;
	}
}

@media screen and (max-width: 350px) {

	.bookings_container {
		.expand_booking_made, .resume_booking, .booking_made_receipt {
			width: 100%;
		}
	}
}

