.footer {
	background-color: $navbar_color;
	padding: $std_value * 3 0;
	margin-top: $std_value * 6;

	.footer_section {
		color: white;
		list-style-type: none;

		.item {
			cursor: pointer;
		}

		.title {
			color: royalblue;
			font-size: 20px;
			font-weight: 400;
		}

		.social {
			font-size: 30px;
		}
	}
}