.footer {
	background-color: $navbar_color;
	padding: $std_value * 3 0;
	margin-top: $std_value * 6;

	.footer_section {
		color: white;
		list-style-type: none;

		.item {
			cursor: pointer;
			font-size: 14px;
		}

		.title {
			color: royalblue;
			font-size: 14px;
		}

		.social {
			font-size: 30px;
		}
	}

	@media screen and (max-width: 500px) {
		.footer_section {
			.item {
				cursor: pointer;
				font-size: 10px;
			}

			.title {
				color: royalblue;
				font-size: 12px;
			}

			.social {
				font-size: 26px;
			}
		}
	}
}