.my_navbar {
	position: fixed;
	top: 0;
	left: 0;
	//bootstrap carousel has z-index:15
	z-index: 16;
	width: 100%;
	height: $navbar_heigh;
	background-color: $navbar_color;
	color: white;
	padding: 0;

	.navbar_wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.my_navbar-left {
			padding-left: $std_value;

			a {
				color: white;

				&:hover {
					text-decoration: none;
				}
			}

			.my_logo {
				display: inline-block;
				border: 1px solid white;
				border-radius: 50%;
				padding: $std_value / 2;
				font-size: 22px;
			}
		}

		.my_navbar-right {
			padding-right: $std_value;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			#toggler {
				font-size: 30px;
				cursor: pointer;
			}

			.navbar_nickname {
				padding-right: $std_value * 2;
			}
		}

	}

	.navbar_items {
		width: 100%;
		padding: $std_value;
		background-color: #333639;

		.list-group-item {
			background-color: #333639;
			.navbar_link{
				color: white;
				transition: .3s ease;
				text-decoration: none;

				&:hover {
					color: royalblue;
				}
			}
		}
	}

}
