/* Uses Bootstrap stylesheets for styling, see linked CSS*/
body {
	background-color: #fff;
}

.panel {
	width: 80%;
	margin: 2em auto;
}

.bootstrap-basic {
	background: white;
}

.panel-body {
	width: 90%;
	margin: 2em auto;
}

.helper-text {
	color: #8A6D3B;
	font-size: 12px;
	margin-top: 5px;
	height: 12px;
	display: block;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused {
	border: 1px solid #0275d8;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.braintree-hosted-fields-focused.focused-invalid {
	border: 1px solid #ebcccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(100, 100, 0, .6);
}

@media (max-width: 670px) {
	.btn {
		white-space: normal;
	}
}