.promotion_container {
	.list_wrapper {
		overflow-y: scroll;
		overflow-x: hidden;
		max-height: 500px;
	}

	.promo_wrapper {
		padding: 0 10px;
	}

	.promo_type_card {
		border: 2px solid lightgrey;
		padding: 5px;
		display: inline-block;
		text-align: center;
		cursor: pointer;

		.promo_title {
			display: block;
		}

		.promo_image {
			width: 210px;
			height: 350px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&:hover, &.active {
			border: 2px solid royalblue;
		}
	}
}