.promotion_container {
	.list_wrapper {
		overflow-y: scroll;
		overflow-x: hidden;
		max-height: 500px;
	}

	.promo_wrapper {
		padding: 0 10px;
	}

	.promo_type_card {
		border: 2px solid lightgrey;
		padding: 5px;
		display: inline-block;
		text-align: center;
		cursor: pointer;

		.promo_title {
			display: block;
		}

		.promo_image {
			width: 210px;
			height: 350px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&:hover, &.active {
			border: 2px solid royalblue;
		}
	}
}

@media screen and (max-width: 1200px) {

	.promotion_container {
		.promo_type_card {
			.promo_image {
				width: 150px;
				height: 250px;
			}
		}
	}
}

@media screen and (max-width: 576px) {

	.promotion_container {
		.promo_type_card {
			.promo_image {
				width: 90px;
				height: 150px;
			}
		}
		.button_proceed {
			width: 100%;
		}
	}
}

@media screen and (max-width: 350px) {

	.promotion_container {
		.expand_promo_list, .download_receipt {
			width: 100%;
		}
	}
}