.apartment_image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 900px;
	height: 600px;
}

.apartment_price.in_sale {
	text-decoration: line-through;
}

.loading_availability {
	font-size: 30px;
}

.apartment_map {
	position: relative;
	display: inline-block;
}

#marker, .loading_map {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 30px;
}

#marker {
	color: red;
}

.loading_map {
	color: #1b4b72;
}