.apartment_image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 900px;
	height: 600px;
}

.apartment_price.in_sale {
	text-decoration: line-through;
}

.loading_availability {
	font-size: 30px;
}

#result.available {
	color: green;
}

#result.not_available {
	color: red;
}

#result.unknown {
	color: blue;
}

