.main_hero {
	background: url("/../img/hero.jpg") no-repeat center center;
	background-size: cover;
	height: 500px;

	.search_container {
		display: flex;
		height: 100%;

		.search_form {
			margin: auto;
		}
	}

}